<h2>История воздушных фонариков</h2>

<p>Небесные, или летающие фонарики уже стали неотъемлемой частью многих праздников. Во многих случаях
они заменяют фейерверки и другие шоу. Такая популярность фонариков вполне объяснимо – красивое зрелище, романтика
, необычность и торжественность – и все это за весьма умеренную цену.<br />Откуда пришли к нам летающие фонарики,
или «дирижабли желаний»? Их история началась больше 2500 лет назад, в Древнем Китае. Именно тогда древние китайцы
стали изготавливать маленькие бумажные купола с горелкой внутри. Изготавливались такие фонарики отнюдь не для
декоративных целей – они олицетворяли единение двух стихий – Воздуха и Огня. Китайцы верили, и верят сегодня,
что запуск таких фонариков очищает человека от негативной энергии, и наполняет его энергией позитивной. И глядя
на полет фонариков в ночном небе, тоже начинаешь в это верить. А еще можно написать на фонарике свое желание – и оно
непременно сбудется. По крайней мере, в это верят китайцы, и не только они.
Но изобретение летающих фонариков – заслуга военных. Так, модель такого дирижабля была
создана на основе конструкции воздушного змея, который в Древнем Китае служил для передачи военных сигналов. Но в темноте воздушных змеев не видно, поэтому и был
изобретен светящийся шар. И только потом из военного атрибута светящиеся шарики превратились в развлечение.<br />Небесные фонарики в Китае называются Хум Фей, или Хум Лой. Традиционно они изготавливались из промасленной рисовой бумаги и бамбукового каркаса. Горелкой служила пропитанная воском бумага. Современные фонарики изготавливаются тоже из бумаги, но термостойкой, очень тонкой. 