<div class="history">
  <div class="all">
			<h1> История воздушных фонариков</h1>

			<p>Откуда пришли к нам летающие фонарики, или «дирижабли желаний»?  <%= image_tag 'i5.jpg', :id => 'i1'%> </p>
			<p>Их история началась больше 2500 лет назад, в Древнем Китае. Именно тогда древние китайцы стали изготавливать маленькие бумажные купола с горелкой внутри. Изготавливались такие фонарики отнюдь не для декоративных целей – они олицетворяли единение двух стихий – Воздуха и Огня. Китайцы верят, что запуск таких фонариков очищает человека от негативной энергии, и наполняет его энергией позитивной. А еще можно написать на фонарике свое желание – и оно непременно сбудется. </p>
			<%= image_tag 'i4.jpg', :id => 'i2'%> <p>Но изобретение летающих фонариков – заслуга военных. Так, модель такого дирижабля была создана на основе конструкции воздушного змея, который в Древнем Китае служил для передачи военных сигналов. Но в темноте воздушных змеев не видно, поэтому и был изобретен светящийся шар. И только потом из военного атрибута светящиеся шарики превратились в развлечение.</p>
			<p>Небесные фонарики в Китае называются Хум Фей, или Хум Лой. Традиционно они изготавливались из промасленной рисовой бумаги и бамбукового каркаса. Горелкой служила пропитанная воском бумага. Современные фонарики изготавливаются тоже из бумаги, но термостойкой, очень тонкой.</p>
		</div>
