<!DOCTYPE>
<html>
	<head>
		<title>Небесные фонарики</title>
		
	</head>
	<body>
		<div class="all" id="home">
			<ul>
				<% link_to 'Домашняя', root_path %>
				<% link_to 'Контакты', about_path %>
				<% link_to 'Инструкция', manual_path %>
				<li><a> </a></li>
			</ul>
			<h1>Подарим друг другу частичку радости</h1>
			<a href="http://vkontakte.ru/event32771660">Флешмоб после Рождества</a>
			<p class="bigbutton"> Хочу фонарик </p>
			
		</div>
	</body>
</html>
