</br>
<h3>Страничка в разработке</h3>

<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?11" charset="windows-1251"></script>

<!-- Put this script tag to the place, where the Share button will be -->
<script type="text/javascript"><!--
document.write(VK.Share.button(false,{type: "link", text: "Сохранить"}));
--></script>

<!-- Put this script tag to the place, where the Share button will be -->
<p>Я учавствую во флешмобе =) </p>


