<!DOCTYPE>
<html>
	<head>
		<title>Небесные фонарики</title>
		<link rel="stylesheet" type="text/css" href="fonariki.css">
	</head>
	<body>
		<div class="all">
			
			<div class="history">				
				<h1> Инструкция по подготовке Небесных Фонарей к запуску</h1>
				<ol>
					<li>- Аккуратно достаньте Небесный Фонарик из упаковки и тщательно расправьте его.</li>
					<li>- Достаньте топливный элемент и прикрепите его к четырем концам проволоки в основании Фонарика.</li>
					<li>- Раскройте Небесный Фонарик полностью и держите прямо.</li> 
					<li>- С помощью зажигалки подожгите топливный элемент в нескольких местах для равномерного наполнения.</li> 
					<li>- Следите за тем, чтобы пламя не касалось бумаги.</li>
					<li>- Топливный элемент должен достаточно разгореться (30 – 90 секунд).</li>
					<li>- Затем Небесный Фонарик сам «попросится в небо».</li>
				</ol>
		
			<p>Отпускайте Небесный Фонарик двумя руками, а затем смотрите вверх, наслаждаясь  необычайно красивым зрелищем!<p>
		</div>	
			
			<table id="i3">
				<tr>	
					<td><%=image_tag 'f2.jpg'%> </td>
					<td><h5> Будь котиком, закажи фонарик </h5>
						<p class="bigbutton"> Заказать </p></td>
				</tr>
			</table>
		</div>
	</body>
</html>