<h3>Инструкция по подготовке Небесных Фонарей к запуску &ndash; Пожалуйста, внимательно прочтите перед использованием Небесных Фонарей </h3>
<p c">Аккуратно достаньте Небесный Фонарик из упаковки и тщательно расправьте его.</p>

<p >Достаньте топливный элемент и прикрепите его к четырем концам проволоки в основании Небесного Фонарика.</p>
<p >Раскройте Небесный Фонарик полностью и держите прямо. С помощью зажигалки подожгите топливный элемент в нескольких местах для равномерного наполнения Небесного Фонарика теплым воздухом. Следите за тем, чтобы пламя не касалось бумаги.</p>
<p ">Топливный элемент должен достаточно разгореться, чтобы Фонарь взлетел, наполнившись нагретым воздухом. Для этого необходимо 30 &ndash; 90 секунд. Затем Небесный Фонарик сам &laquo;попросится в небо&raquo;.</p>
<p >Отпускайте Небесный Фонарик двумя руками, а затем смотрите вверх, наслаждаясь&nbsp; необычайно красивым зрелищем!</p>

