</br>
<h3>Страничка заказа воздушного фонарика</h3>

Однажды я увидел видео, как запускаются воздушные фонарики, и уменя пришла идея, сделать такой флешмоб, и если Вы примите в нем участие,</br> то наша команда будет безусловно рада. В наши времена, сложно подарить людям частичку тепла
и радости, но иногда такие моменты происходят.

<h4>Фонарики будут у нас в течение двух недель, мы сами с вами свяжемся и доставим их куда нужно</h4>



<%= render 'form' %>

<h3> Цена одного фонарика, 120 рублей, мы позвоним Вам, оплата после получения </h3>


