<!DOCTYPE>
<html>
	
	<body>
		<div class="all">	
			
			<div class="order">
				<table>
					<tr>
						<td> <h6>Предзаказ фонариков</h6></td><td></td>  </tr>
					<tr>
						<td> 
							<p id="i4"> 
										<br>Это предварительный заказ.<br>
										<br> Оплачивать ничего не нужно. <br>
										<br>Оставьте ваши координаты и объем заказа, а мы обязательно 
										с вами свяжемся и доставим ваш заказ в удобное вам место.<br>
                                                                                <br>*Цена одного фонарика 120 рублей.<br>
										<a href="http://vkontakte.ru/event32771660">
																				<%= image_tag 'vk.png', :class => 'ico', :id => 'i7', :title => "Вконтактик" %>
										<br> Приходите на Флешмоб <br>после Рождества
									
							</p> 
						</td> 
						<td>
							<%= render 'form' %>
						</td> 
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>









